<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>PA1450</title>
  <meta name="description" content="PA1450"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
  <body>
    <div id="header">
      <h1>Weather Application</h1>
      <!--<form action="/live">
        <button type="submit" value="Show Live Data">View live data</button>
      </form>-->
    </div>
    <div id="main-box">
      <div id="graph-box">
        <select id="category" onchange="cat_change()">
          <option value="Lufttemperatur">Lufttemperatur</option>
          <option value="Lufttryck reducerat havsytans nivå">Lufttryck reducerat havsytans nivå</option>
          <option value="Nederbördsmängd">Nederbördsmängd</option>
          <option value="Total molnmängd">Total molnmängd</option>
          <option value="Byvind">Vindhastighet</option>
        </select>
        <iframe id="graph" src="{{ url_for("send_cat", cat_name="Lufttemperatur", dir_name="uploaded") }}"></iframe>
        <div id="graph-modifiers">
          <div id="import-box" class="modifier-boxes">
            <form id="import-new-csv" action="/upload/csv" method="POST" enctype="multipart/form-data">
              <input type="file" name="file">Select csv...</input>
              <button type="submit" value="Upload">Upload</button>
            </form>
            <form id="import-new-xml" action="/upload/xml" method="POST" enctype="multipart/form-data">
              <input type="file" name="file">Select xml...</input>
              <button type="submit" value="Upload">Upload</button>
            </form>
            <!--
            <form id="import-new-json" action="/upload/json" method="POST" enctype="multipart/form-data">
              <input type="file" name="file">Select json...</input>
              <button type="submit" value="Upload">Upload</button>
            </form>
            -->
          </div>
          <!--
          <div id="time-frame-box" class="modifier-boxes">
            <p style="margin-top:0;">Time frame</p>
            <div id="time-frame-inputs"></div>
          </div>
          -->
          <div id="export-box" class="modifier-boxes">
            <button id="export" class="import-boxes" onclick="export_file()"><p>Export</button>
            <!--
            <div id="tf-boxes">
              <input type="date" id="tf-1">
              <input type="date" id="tf-2">
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <h2>Team 7</h2>
      <div id="names">
        <div class="name">Simon Bengtsson</div>
        <div class="name">Jasmine Bergman</div>
        <div class="name">Alfons Flystam</div>
        <div class="name">Tobias Holm</div>
        <div class="name">Jesper Lönn Stråle</div>
      </div>
    </div>
    <script>
    function cat_change(){
      var selected = document.getElementById("category");
      var graph = document.getElementById("graph");
      graph.src = "/categories/uploaded/".concat(selected.options[selected.selectedIndex].value);
     }
    function export_file(){
      //var start = document.getElementById("tf-1").value;
      //var stop = document.getElementById("tf-2").value;
      var selected = document.getElementById("category");
      //window.location.href = "/export/".concat(selected.options[selected.selectedIndex].value, "/", start, "/", stop);
      window.location.href = "/export/".concat(selected.options[selected.selectedIndex].value);

    }
    </script>
  </body>
</html>
