<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>PA1450</title>
  <meta name="description" content="PA1450"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
  <body>
    <div id="header">
      <h1>Weather Application</h1>
      <form action="/">
        <button type="submit" value="Show Uploaded Data">View uploaded data</button>
      </form>
    </div>
    <div id="main-box">
      <div id="graph-box">
        <select id="category" onchange="cat_change()">
          <option value="Byvind">Byvind</option>
          <option value="Lufttryck reducerat havsytans nivå">Lufttryck reducerat havsytans nivå</option>
          <option value="Nederbördsmängd">Nederbördsmängd</option>
          <option value="Total molnmängd">Clouds</option>
          <option value="Vindhastighet">Wind Speed</option>
        </select>
        <iframe id="graph" src="{{ url_for("send_cat", cat_name="Byvind", dir_name="live") }}"></iframe>
        <!--
        <div id="graph-modifiers">
          <div id="import-box" class="modifier-boxes">
            <form id="import-new" action="/live" method="POST" enctype="multipart/form-data">
              <input type="file" name="file">Select csv...</input>
              <button type="submit" value="Upload">Upload</button>
            </form>
          </div>
          <div id="time-frame-box" class="modifier-boxes">
            <p style="margin-top:0;">Time frame</p>
            <div id="tf-boxes">
              <input type="date" id="tf-1">
              <input type="date" id="tf-2">
            </div>
            <div id="time-frame-inputs"></div>
          </div>
          <div id="export-box" class="modifier-boxes">
            <button id="export" class="import-boxes"><p>Export</button>
          </div>
        </div>
        -->
      </div>
    </div>
    <div id="footer">
      <h2>Team 7</h2>
      <div id="names">
        <div class="name">Simon Bengtsson</div>
        <div class="name">Jasmine Bergman</div>
        <div class="name">Alfons Flystam</div>
        <div class="name">Tobias Holm</div>
        <div class="name">Jesper Lönn Stråle</div>
      </div>
    </div>
  </body>
</html>
